<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="Compra y venta de coches clásicos">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="keywords" content="coches, clasicos, comprar, vender, tasacion">
        <meta name="author" content="Martín Rubio">
        <meta name="lang" content="es">
        <meta name="revisit-after" content="2 days">
        <meta name="format-detection" content="telephone=no,address=no,email=no">

        <link rel="stylesheet" type="text/css" href="../css/estilos/estilos.css">
        
        <title>Coches Clásicos | Compra y venta de vehículos históricos</title>
    </head>
    <body>
        <div class="wrapper">
            <header><h1>Coches Clásicos</h1></header>
            <nav>
                <ul>
                    <li><a href="../index.html">Inicio</a></li>
                    <li><a href="./productos.html">Productos</a></li>
                    <li><a href="./presupuesto.html">Presupuesto</a></li>
                    <li><a class="actual" href="#">Contacto</a></li>
                </ul>
            </nav>

            <main>
                <section>
                    <h2>Contacto</h2>
                    <div class="contacto">
                        <ul>
                            <li>Dirección: Calle Alonso Cano 44, 28003</li>
                            <li>Teléfono: 608000111</li>
                            <li>Correo: atencioncliente@coches.es</li>
                            <li>Localización:</li>
                        </ul>
                        
                        <img src="../media/images/localizacion_empresa.png" width="660" height="490" alt="local_empresa">
                        
                    </div>
                </section>
            </main>

            <footer>
                <div><a href="../media/pdf/avisolegal.pdf" target="_blank">Aviso legal</a></div>
                <div>© 2025 Coches Clásicos | Calle Alonso Cano 44, 28003</div>
                <div class="footer_social">
                    <a href="https://www.instagram.com/"><img src="../media/images/instagram.png" width="64" height="64" alt="logo instagram"></a>
                    <a href="https://www.youtube.com/"><img src="../media/images/youtube.png" width="64" height="64" alt="logo youtube"></a>
                    <a href="https://www.x.com/"><img src="../media/images/xtwitter.png" width="64" height="64" alt="logo x"></a>
                </div>
            </footer>
        </div>
    </body>
</html>