<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="Compra y venta de coches clásicos">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="keywords" content="coches, clasicos, comprar, vender, tasacion">
        <meta name="author" content="Martín Rubio">
        <meta name="lang" content="es">
        <meta name="revisit-after" content="2 days">
        <meta name="format-detection" content="telephone=no,address=no,email=no">

        <link rel="stylesheet" type="text/css" href="../css/estilos.css">
        
        <title>Coches Clásicos | Compra y venta de vehículos históricos</title>
    </head>
    <body>
        <header>
            <div id="div_header">
                <h1>Coches Clásicos</h1>
                <div id="div_menu">
                    <span class="boton"><a class="boton_menu" href="../index.html">Inicio</a></span>
                    <span class="boton"><a class="boton_menu" href="./productos.html">Productos</a></span>
                    <span class="boton"><a class="boton_menu" href="./presupuesto.html">Presupuesto</a></span>
                    <span class="botonin"><a class="boton_menu" href="#">Contacto</a></span>
                </div>
            </div>
        </header>

        <section>
            <div id="div_section">
                <h2>Contacto</h2>
                <div id="div_contacto">
                    <p>Dirección: Calle Alonso Cano 44, 28003</p>
                    <p>Teléfono: 608000111</p>
                    <p>Correo: atencioncliente@coches.es</p>
                    <p>Localización:</p>
                </div>
                
                <div>
                    <img id="mapa" src="../images/localizacion_empresa.png" width="1000" height="600" alt="local_empresa">
                </div>
                
            </div>
        </section>

        <footer>
            <div id="div_footer">
                <span class="center_text">© 2025 Coches clásicos | Calle Alonso Cano 44, 28003</span>
                <span class="footer_icon">
                    <img src="../images/instagram.png" width="50" height="50" alt="logo instagram">
                </span>
                <span class="footer_icon">
                    <img src="../images/youtube.png" width="50" height="50" alt="logo youtube">
                </span>
                <span class="footer_icon_x">
                    <img src="../images/xtwitter.png" width="50" height="50" alt="logo x">
                </span>
            </div>
        </footer>
    </body>
</html>