<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="Compra y venta de coches clásicos">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="keywords" content="coches, clasicos, comprar, vender, tasacion">
        <meta name="author" content="Martín Rubio">
        <meta name="lang" content="es">
        <meta name="revisit-after" content="2 days">
        <meta name="format-detection" content="telephone=no,address=no,email=no">
        
        <link rel="stylesheet" type="text/css" href="../css/estilos/estilos.css">

        <title>Coches Clásicos | Compra y venta de vehículos históricos</title>
    </head>
    <body>
        <div class="wrapper">
            <header><h1>Coches Clásicos</h1></header>
            <nav>
                <ul>
                    <li><a href="../index.html">Inicio</a></li>
                    <li><a class="actual" href="#">Productos</a></li>
                    <li><a href="./presupuesto.html">Presupuesto</a></li>
                    <li><a href="./contacto.html">Contacto</a></li>
                </ul>
            </nav>

            <main>
                <section>
                    <h2>Selección de nuestros coches</h2>
                    <div class="galeria">
                        <div class="imagen">
                            <img width="320" height="164" src="../media/images/audi-100-1969.jpg" alt="audi-100 1969">
                            Audi 100 - 1969
                        </div>
                        <div class="imagen">
                            <img width="320" height="164" src="../media/images/Bmw_e23_v_sst.jpg" alt="bmw e23 1980">
                            BMW E23 - 1980
                        </div>
                        <div class="imagen">
                            <img width="320" height="164" src="../media/images/delorean_dcm12.jpg" alt="delorean dmc12 1982">
                            Delorean DMC12 - 1982
                        </div>
                        <div class="imagen">
                            <img width="320" height="164" src="../media/images/fiat_124_1968.jpg" alt="fiat 124 1968">
                            Fiat 124 - 1968
                        </div>
                        <div class="imagen">
                            <img width="320" height="164" src="../media/images/ford-mustang-gt-390-fastback-196.jpg" alt="mustang gt 390 1968">
                            Mustang GT - 1968
                        </div>
                        <div class="imagen">
                            <img width="320" height="164" src="../media/images/jaguar-mk10-1966.jpg" alt="jaguar mk10 1966">
                            Jaguar MK10 - 1966
                        </div>
                        <div class="imagen">
                            <img width="320" height="164" src="../media/images/mercedes_sl500_1982.jpg" alt="mercedes sl500 1982">
                            Mercedes SL500 - 1982
                        </div>
                        <div class="imagen">
                            <img width="320" height="164" src="../media/images/Mercedes250SE.jpg" alt="mercedes 250se 1966">
                            Mercedes 250SE - 1966
                        </div>
                        <div class="imagen">
                            <img width="320" height="164" src="../media/images/Porsche_356_1962.jpg" alt="porsche 356 1962">
                            Porsche 356 - 1962
                        </div>
                        <div class="imagen">
                            <img width="320" height="164" src="../media/images/seat-600.jpg" alt="seat 600 1970">
                            Seat 600 - 1970
                        </div>
                    </div>
                </section>
            </main>
            
            <footer>
                <div><a href="../media/pdf/avisolegal.pdf" target="_blank">Aviso legal</a></div>
                <div>© 2025 Coches Clásicos | Calle Alonso Cano 44, 28003</div>
                <div class="footer_social">
                    <a href="https://www.instagram.com/"><img src="../media/images/instagram.png" width="64" height="64" alt="logo instagram"></a>
                    <a href="https://www.youtube.com/"><img src="../media/images/youtube.png" width="64" height="64" alt="logo youtube"></a>
                    <a href="https://www.x.com/"><img src="../media/images/xtwitter.png" width="64" height="64" alt="logo x"></a>
                </div>
            </footer>   
        </div>
    </body>
</html>