@charset "utf-8";

@import url(https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap);


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}

.wrapper {
    min-height: 100dvh;
    display: grid;
    grid-template-rows: auto auto 1fr auto;
    grid-template-columns: minmax(0, 1fr);
}

:where(body) {
    hyphens: auto;
    overflow-wrap: break-word;
}

header {
    background: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav {
    background: #9999ff;
}

footer {
    background: black;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer img {
    background: white;
    border-radius: 100%;
}

footer a {
    margin: 5px;
}

h1, h2, h3 {
    display: block;
    padding: 30px;
    text-align: center;
}

nav ul {
    display: flex;
}

li {
    list-style: none;
}

a {
    font-size: 14px;
    text-decoration: none;
    color: white;
}

nav a {
    padding: 16px 12px;
    background: #6666ff;
    display: block;
}

nav a:hover {
    background: #3333cc;
}

.actual {
    background: #ff99cc;

}

.galeria {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-around;
    gap: 20px;
}

.galeria img{
    display: block;
    margin: 20px;
}

.aboutus {
    width: 80%;
    margin: auto;
}

.buscador,.presupuesto{
    width: 320px;
    margin: auto;
    border: 1px solid black;
    background: #9999ff;
}

.buscador div,.presupuesto div {
    display: flex;
    justify-content: space-evenly;
    margin: 10px;
}

.buscador li,.presupuesto li {
    margin: 10px;
}

.presupuesto {
    width: 440px;
}

.noticia {
    width: 80%;
    display: flex;
    justify-content: center;
    margin: auto;
    margin-bottom: 20px;
}

.noticia_texto {
    width: 80%;
    margin: auto 10px;
}

.noticia_img {
    width: 150px;
    height: 150px;
    border: 1px solid black;
}

.contacto {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}